<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">登录界面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="icon" href="../static/images/icon.ico" th:href="@{/images/icon.ico}" type="image/x-icon">
</head>
<body>



<!--底部栏-->
<footer th:fragment="footer" class="ui segment m-padded-tb-big " style="background: rgba(255,255,255,0.9)">
    <div class="ui center aligned container ">
        <div class="ui divided stackable grid">
            <h4 class="ui header m-text-thin m-text-spaced m-opacity-mini m-center">欢迎进入lkl-td小初高数学学习网站</h4>
        </div>
    </div>
</footer >

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</th:block>

</body>
</html>